//********************
//* color palette
//********************
$color-1: #000000 !default;//Unused?
$color-2: #31708F !default;
$color-3: #333333 !default;
$color-4: #337AB7 !default;
$color-5: #3C763D !default;
$color-6: #444444 !default;
//Top Bar BG, e.t.c
$color-7: #2D2926 !default;
$color-8: #555555 !default;
//Nav bar menu BG
$color-9: #0C2340 !default;
$color-10: #5CB85C !default;
//Input BG
$color-11: #65697A !default;
$color-12: #666666 !default;
//Tab BG
$color-13: #2D2926 !default;
$color-14: #677785 !default;
$color-15: #6A6578 !default;
$color-16: #6EA674 !default;
$color-17: #6A80E6 !default;
$color-18: #757083 !default;
$color-19: #777777 !default;
//Sidebar BG, Tab Highlight
$color-20: #2D2926 !default;
$color-21: #79996A !default;
$color-22: #808F9C !default;
$color-23: #829EB5 !default;
$color-24: #8499AB !default;
$color-25: #888888 !default;
$color-26: #8A6D3B !default;
$color-27: #93A0AB !default;
//Sidebar buttons?
$color-28: #0C2340 !default;
$color-29: #9589B3 !default;
$color-30: #99534D !default;
$color-31: #999999 !default;
$color-32: #A2A5AF !default;
//Quick Buttons
$color-33: #0C2340 !default;
$color-34: #A5E8D6 !default;
//Misc buttons
$color-35: #CC5A5A !default;
$color-36: #ABC3D7 !default;
$color-37: #B29EB5 !default;
$color-38: #BBE6A5 !default;
//Soft BG
$color-39: #BFCAD3 !default;
$color-40: #C4C3C7 !default;
$color-41: #C9D2DA !default;
$color-42: #CCE8E2 !default;
$color-43: #D66C60 !default;
$color-44: #D8F5EE !default;
$color-45: #E2E7EB !default;
//Link Colour
$color-46: #CC5A5A !default;
$color-47: #E6D5A5 !default;
$color-48: #E6E6E6 !default;
$color-49: #FF0000 !default;
//Action buttons, text colour on Dark BGs
$color-50: #CC5A5A !default;
$color-51: #F5F5F5 !default;
$color-52: #F8F8F8 !default;
$color-53: #FA988D !default;
$color-54: #FAF7CF !default;
$color-55: #FAFAFA !default;
$color-56: #FFAFA6 !default;
$color-57: #A5E6E6 !default;
$color-58: #A94442 !default;
$color-59: #AFAABF !default;
$color-60: #B3C0C7 !default;
$color-61: #C7254E !default;
$color-62: #CCCCCC !default;
$color-63: #D9EDF7 !default;
$color-64: #DDDDDD !default;
$color-65: #DFDFDF !default;
$color-66: #DFF0D8 !default;
$color-67: #E0DDEB !default;
$color-68: #E3E3E3 !default;
$color-69: #E5E5E5 !default;
$color-70: #E67C73 !default;
$color-71: #ECE9F5 !default;
$color-72: #EDEBF5 !default;
$color-73: #F2DEDE !default;
$color-74: #F5F5F5 !default;
$color-75: #F7F7F7 !default;
$color-76: #F8F8F8 !default;
$color-77: #F9F2F4 !default;
$color-78: #F9F9F9 !default;
$color-79: #FCF8E3 !default;
$color-80: #FFFFFF !default;
$color-81: #FFFFFF;
$color-82: #DFDDF2;
$color-86: #FFFFFF;
$color-90: #FFFFFF;