// Core variables and mixins
@import "color-palette";
@import "variables";
@import "icons";
@import "../bootstrap/mixins";

// Reset and dependencies
@import "../bootstrap/normalize";
@import "../bootstrap/print";
@import "../bootstrap/glyphicons";

// Core CSS
@import "../bootstrap/scaffolding";
@import "../bootstrap/type";
@import "../bootstrap/code";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";

// Components
@import "../bootstrap/component-animations";
@import "../bootstrap/dropdowns";
@import "../bootstrap/button-groups";
@import "../bootstrap/input-groups";
@import "../bootstrap/navs";
@import "../bootstrap/navbar";
@import "../bootstrap/breadcrumbs";
@import "../bootstrap/pager";
@import "../bootstrap/labels";
@import "../bootstrap/badges";
@import "../bootstrap/jumbotron";
@import "../bootstrap/thumbnails";
@import "../bootstrap/alerts";
@import "../bootstrap/progress-bars";
@import "../bootstrap/media";
@import "../bootstrap/list-group";
@import "../bootstrap/panels";
@import "../bootstrap/responsive-embed";
@import "../bootstrap/wells";
@import "../bootstrap/close";

// Components w/ JavaScript
@import "../bootstrap/modals";
@import "../bootstrap/tooltip";
@import "../bootstrap/popovers";
@import "../bootstrap/carousel";

// Utility classes
@import "../bootstrap/utilities";
@import "../bootstrap/responsive-utilities";

// Generated Glyphs
@import '../suitep-base/suitepicon-glyphs';
// Font fixes
@import '../suitep-base/suitepicon';

/**SuiteP Theme Base Styles**/
@import '../suitep-base/mixins';
@import '../suitep-base/main';
@import '../suitep-base/aor';
@import '../suitep-base/aow';
@import '../suitep-base/sidebar';
@import '../suitep-base/navbar';
@import '../suitep-base/login';
@import '../suitep-base/forms';
@import '../suitep-base/dashboard';
@import '../suitep-base/listview';
@import '../suitep-base/detailview';
@import '../suitep-base/editview';
@import '../suitep-base/tabs';
@import '../suitep-base/panels';
@import '../suitep-base/admin';
@import '../suitep-base/campaigns';
@import '../suitep-base/yui';
@import '../suitep-base/cases';
@import '../suitep-base/calendar';
@import '../suitep-base/email';
@import '../suitep-base/modal';
@import '../suitep-base/popup';
@import '../suitep-base/studio';
@import '../suitep-base/tinemce.scss';
@import '../suitep-base/jstree';
@import '../suitep-base/search';
//

.icon{
  fill: $mccd-custom-icon-color;
}
.table-responsive.list > tbody > tr > td .suitepicon, .table-responsive.list > tbody > tr > td .button-toggle-expanded span, .button-toggle-expanded .table-responsive.list > tbody > tr > td span, .table-responsive.list > tbody > tr > td .button-toggle-collapsed span, .button-toggle-collapsed .table-responsive.list > tbody > tr > td span, .table-responsive.list > tbody > tr > td .panel-heading a.collapsed, .panel-heading .table-responsive.list > tbody > tr > td a.collapsed, .table-responsive.list > tbody > tr > td .panel-heading a, .panel-heading .table-responsive.list > tbody > tr > td a {
  color: $mccd-custom-icon-color;
}
.ui-widget-content a {
  color: $mccd-custom-additional-info-link;
}

.ui-dialog-titlebar-close{
  font-size: 0 !important;
}
select {
  background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20width%3D%2232px%22%20height%3D%2232px%22%20id%3D%22svg2985%22%20version%3D%221.1%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22select.svg%22%20inkscape%3Aexport-filename%3D%22%2Fvar%2Fwww%2Fhtml%2Fsdk%2Finstances%2Fsuitecrm-development-mysql%2Fthemes%2FSuiteP%2Fimages%2Fforms%2Fselect.png%22%20inkscape%3Aexport-xdpi%3D%22135%22%20inkscape%3Aexport-ydpi%3D%22135%22%3E%3Cdefs%20id%3D%22defs2987%22%20%2F%3E%3Csodipodi%3Anamedview%20id%3D%22base%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20borderopacity%3D%221.0%22%20inkscape%3Apageopacity%3D%220.0%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Azoom%3D%2211.197802%22%20inkscape%3Acx%3D%220.19332651%22%20inkscape%3Acy%3D%2216%22%20inkscape%3Acurrent-layer%3D%22layer1%22%20showgrid%3D%22true%22%20inkscape%3Agrid-bbox%3D%22true%22%20inkscape%3Adocument-units%3D%22px%22%20inkscape%3Awindow-width%3D%221920%22%20inkscape%3Awindow-height%3D%221056%22%20inkscape%3Awindow-x%3D%221920%22%20inkscape%3Awindow-y%3D%2224%22%20inkscape%3Awindow-maximized%3D%221%22%20%2F%3E%3Cmetadata%20id%3D%22metadata2990%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%3Cdc%3Atitle%3E%3C%2Fdc%3Atitle%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cg%20id%3D%22layer1%22%20inkscape%3Alabel%3D%22Layer%201%22%20inkscape%3Agroupmode%3D%22layer%22%3E%3Crect%20style%3D%22fill%3A%23#{str-slice($mccd-custom-dropdown-arrow-color, 2, $end-at: -1)}%3Bfill-opacity%3A1%3Bstroke%3Anone%22%20id%3D%22rect3764%22%20width%3D%2216%22%20height%3D%2232%22%20x%3D%2216%22%20y%3D%220%22%20%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A1%3Bstroke%3Anone%22%20d%3D%22m%2019%2C12.472522%2011.103887%2C0%20-5.214532%2C7.054956%20-0.06134%2C0%20z%22%20id%3D%22rect2993%22%20inkscape%3Aconnector-curvature%3D%220%22%20sodipodi%3Anodetypes%3D%22ccccc%22%20%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A') no-repeat right #ffffff;
}
div {
  scrollbar-color: $scroll-bar-thumb-color transparent;
}
select {
  scrollbar-color: $scroll-bar-thumb-color transparent;
}
input {
  scrollbar-color: $scroll-bar-thumb-color transparent;
}
textarea {
  scrollbar-color: $scroll-bar-thumb-color transparent;
}
ul {
  scrollbar-color: $scroll-bar-thumb-color transparent;
}

.suitepicon-action-home:before {
  content: "\00a0\00a0\00a0";
  background: url('data:image/svg+xml;utf8, %3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075.33%2078.31%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23#{str-slice($color-80, 2, $end-at: -1)}%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.52%2C45.26%2C53.19%2C76.2%2C43.24%2C56.86%2C69%2C12.59A39.16%2C39.16%2C0%2C0%2C0%2C6.77%2C56.82L35.93%2C6.75%2C51.76%2C35.66%2C41.35%2C53.48l-5.42-8.06-17%2C27.25A39.15%2C39.15%2C0%2C0%2C0%2C79.08%2C56.75Z%22%20transform%3D%22translate%28-3.76%20-2.6%29%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
}
.suitepicon-action-home:hover:before {
  content: "\00a0\00a0\00a0";
  background: url('data:image/svg+xml;utf8, %3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075.33%2078.31%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23#{str-slice($color-50, 2, $end-at: -1)}%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M72.52%2C45.26%2C53.19%2C76.2%2C43.24%2C56.86%2C69%2C12.59A39.16%2C39.16%2C0%2C0%2C0%2C6.77%2C56.82L35.93%2C6.75%2C51.76%2C35.66%2C41.35%2C53.48l-5.42-8.06-17%2C27.25A39.15%2C39.15%2C0%2C0%2C0%2C79.08%2C56.75Z%22%20transform%3D%22translate%28-3.76%20-2.6%29%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-inverse {
  .navbar-brand,
  .navbar-nav > li > a.with-home-icon {
    line-height: 60px;
    font-size: 50px;
  }
}

.suitepicon-action-current-user:before{
  vertical-align: middle;
}
.suitepicon-action-search{
  color: $mccd-custom-search-icon !important;
}
#wiz_stage .icon-btn-lst a br {
  display: none;
}
#wiz_stage .icon-btn-lst a .suitepicon:after {
  content: " ";
  display: block;
}
.pagination .action_buttons a{
  margin-right: 5px !important;
  cursor: pointer;
  background-color: $color-50 !important;
  color: $color-51;
  padding: 5px 13px;
  border-radius: 3px;
  /*display: none;*/
}
.pagination .action_buttons input[type='button']{
  margin-right: 5px !important;
}
.pagination .action_buttons input[type='submit']{
  margin-right: 5px !important;
}

.icon-btn-lst .icon-btn.case-card {
  background-color: $mccd-custom-case-card-bg;
}
.icon-btn-lst .icon-btn.case-card:hover{
  background-color: $mccd-custom-case-card-bg-hover;
}
.case_data_head {
  color: $mccd-custom-case-card-header;
}
.case_data_sub {
  color: $mccd-custom-case-card-sub;
}

.global_search_enable_modules_panel{
  background-color: $mccd-global-search-filter-bg;
  border-color: $mccd-global-search-filter-border;
}

.progression.case li {
  color: $mccd-case-progress-bar-inactive-font;
}
.progression.case li.selected {
  color: $mccd-case-progress-bar-active-font;
}
.progression-container .progression.case .nav-steps {
  background-color: $mccd-case-progress-bar-inactive-bg;
}

.progression.case .selected  {
  background-color: $mccd-case-progress-bar-active-bg;
}

.progression-container .progression.case .nav-steps.selected {
  background-color: $mccd-case-progress-bar-active-bg;
}

.progression.case li.selected::after {
  border-left-color: $mccd-case-progress-bar-active-bg;
}

.progression.case li::after {
  border-left-color: $mccd-case-progress-bar-inactive-bg;
}

.progression.case li::after {
  border-left-color: $mccd-case-progress-bar-inactive-bg;
}

.progression.case li::before {
  border-left-color: $main-bg;
}

.progression-container.case-progress-container {
  margin: 0 0 16px 0;
  padding: 8px 10px 13px 13px;
  background-color: $mccd-case-progress-bar-div-bg;
  border-radius: 4px;
}

.progression.case li::before {
  border-left-color: $mccd-case-progress-bar-div-bg;
}

.progression.case li div, .progression.case li div * {
  text-decoration: none;
  padding-left: 12px;
  display: inline;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
}
option:checked {
  background: $mccd-selected-option-bg;
  color:  $mccd-selected-option;
}